

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Material Login Form a Responsive Widget Template :: w3layouts</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{% static 'log/css/style.css' %}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{% static 'log/css/fontawesome-all.css' %}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->
    <script type="text/javascript">
        window.onload = function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName('n6')[0].setAttribute('min', today);
    }
</script>

</head>
<body>
<div class="topnav" align="right">
    <br>
<!--  <a class="active" href="/"><i class="fa fa-home"></i><b>&nbsp;&nbsp;&nbsp;HOME</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <input type="button" value="BACK" style="border-radius: 12px;background-color:white"onclick="history.back()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--  <a href="#news">News</a>-->
<!--  <a href="#contact">Contact</a>-->
<!--  <a href="#about">About</a>-->
</div>

    <h1 style="color:white"><b>Appointment</b> </h1>
    <div class=" w3l-login-form">
<!--      <h2></h2>-->
        <form action="booking" method="POST">
        {% csrf_token %}
            <div class=" w3l-form-group">
                <label>Pet owner:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="n1" class="form-control" value="{{r1.Name}}" required="required" readonly/>
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Pet type:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <select name="n2">
                        <option>Dog</option>
                        <option>Cat</option>
                    </select>
<!--                    <input type="text" name="n2" class="form-control" placeholder="pet type" required="required" />-->
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>No:of Pets</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="number" name="n3" class="form-control" placeholder="Number" required="required" value="1" readonly />
                </div>
            </div>

          <div class=" w3l-form-group">
                <label>Breed:</label>
                <div class="group">
                    <i class="fas fa-address-card"></i>
                    <input type="text" name="n4" class="form-control" placeholder="breed" required="required" />
                </div>
            </div>

        <div class=" w3l-form-group">
                <label>Service:</label>
                <div class="group">
                    <i class="fas fa-cogs"></i>
<!--                    <input type="text" name="n5" class="form-control" placeholder="service" required="required" />-->

                    <select name="n5">
                        <option>Sevice</option>
                        {% for i in r %}
                        <option>{{i.Service}}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
          <div class=" w3l-form-group">
                <label>Date:</label>
                <div class="group">
                    <i class="fas fa-phone"></i>
                    <input type="date" name="n6" class="form-control" placeholder="Date"  min="<?= date('Y-m-d'); ?>"  required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Phone:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="number" name="n7" class="form-control" placeholder="phone" required="required"
                    pattern="[0-9]{10}"
                    title="Please enter a valid 10-digit phone number "/>
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Email:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="email" name="n8" class="form-control" placeholder="email" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Petcare name:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="n9" class="form-control" value="" required="required" >
                </div>
            </div>
             <div class=" w3l-form-group" >
                <label>Username</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="n10" class="form-control" placeholder="user name" value="{{r1.Username}}" readonly >
                </div>
            </div>

			<button type="submit" onclick="return confirm('Do you want to make this appointment?')">Make a appoinment</button>
        </form>
						<!--<div class="new-signup">
							<a href="#reload" class="signuplink">Forgot username or password?</a>
						</div>-->
					<!--<p class="signup">Don’t have account yet? <a href="#signup.html" class="signuplink">Sign Up</a></p>-->


            <!--<div class="forgot">
                <a href="#">Forgot Password?</a>
                <p><input type="checkbox">Remember Me</p>
            </div>

         <footer>
        <p class="copyright-agileinfo"> &copy; 2018 Material Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </footer>-->

    </div>
</body>
</html>