

<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dogs Care - Animals & Pets Category Responsive Website Template - Home : W3Layouts</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{% static 'user/css/style-starter.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand d-flex align-items-center" href="">
                        <i class="fa fa-paw mr-1" aria-hidden="true"></i>Pets Care</a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index1.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="uprofile" style="">Home <span class="sr-only">(current)</span></a>
                        </li>
<!--                        <li class="nav-item active">-->
<!--                            <a class="nav-link" href="">View sevice <span class="sr-only">(current)</span></a>-->
<!--                        </li>-->

                        <li class="nav-item">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>
                        <input type="button" value="BACK" style="border-radius: 12px;"onclick="history.back()">
                        </ul>
                </div>
            </nav>
        </div>

    </header>

<!-- <section class="w3l-content-bg py-5">-->
    <section class="w3l-banner pt-5" >
<!--        <div class="container py-md-5 py-4">-->
<!--            <div class="row">-->
<!--                <div class="col-md-7">-->
<!--                    <div class="left-content-bg">-->
<!--&lt;!&ndash;                        <p class="text-tag">Pet Lovers</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <h4 class="text-head-content">Our team is filled with highly dedicated pet lovers</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="btn btn-style-white mt-4" href="#about">Read More</a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<div class="container" id="hel" style="height:auto;background-color:white;opacity:0.8">
  <table class="table table-default">
    <thead>
        <th><h5><b>Name</b></h5></th>
        <th><h5><b>Pet_type</b></h5></th>
<!--        <th><h5><b>No_pets</b></h5></th>-->
        <th><h5><b>Breed</b></h5></th>
        <th><h5><b>Service</b></h5></th>
        <th><h5><b>Date_of_service</b></h5></th>
        <th><h5><b>Phone</b></h5></th>
        <th><h5><b>Email</b></h5></th>
        <th><h5><b>Status</b></h5></th>
        <th><h5><b>Payment</b></h5></th>
    </thead>
    <tbody>
      {% for i in r %}
            <td><b>{{i.Name}}</b></td>
            <td><b>{{i.Pet_type}}</b></td>
<!--            <td><b>{{i.No_pets}}</b></td>-->
            <td><b>{{i.Breed}}</b></td>
            <td><b>{{i.Service}}</b></td>
            <td><b>{{i.Date_of_service}}</b></td>
            <td><b>{{i.Phone}}</b></td>
            <td><b>{{i.Email}}</b></td>
            <td><b>{{i.Action}}</b></td>
            <td>
            <form method="POST" action="payment/{{i.id}}">
            {% csrf_token %}
             <input type="text" value="{{r1.Name}}" name="b1" hidden="">
             <input type="text" value="{{i.Name}}" name="b2" hidden="">
             <input type="text" value="{{i.Service}}" name="b3" hidden="">
<!--                 <input type="text" value="{{i.Name}}" name="b4" hidden="">-->
             <input type="submit" style="border-radius: 12px;background-color:mediumseagreen" value=" Payment" onclick="return confirm('Are You Sure')">
         </form>

<br>
            <form method="POST" action="paycancel">
                  {% csrf_token %}
                     <input type="text" value="{{i.Name}}" name="b4" hidden="">
					<input type="text" value="{{i.Action}}" name="b5" hidden="">
                    <input type="submit" style="border-radius: 12px;background-color:salmon"  onclick="return confirm('Are You Sure')" value="Cancel">
                </form>
    </td>
    </tbody>
    {% endfor %}
</table>
</div>
</section>
</body>
</html>


